In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Our Datasets

https://www.kaggle.com/datasets/uciml/breast-cancer-wisconsin-data

https://www.kaggle.com/datasets/iabhishekofficial/mobile-price-classification

https://www.kaggle.com/datasets/iamsouravbanerjee/house-rent-prediction-dataset

1. BreastCancer Dataset

In [3]:
dataset1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/F20DL_datasets/BreastCancer/data.csv')
dataset1.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

We can see by observing that the
- 'id' is not relevant to our task
- 'diagnice' holds the value of our class
- 'Unnamed:32' includes the null value

In [9]:
dataset1.drop(['id', 'Unnamed: 32'], axis = 1, inplace = True)

In [13]:
dataset1.info

<bound method DataFrame.info of     diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean  \
0           M        17.99         10.38          122.80     1001.0
1           M        20.57         17.77          132.90     1326.0
2           M        19.69         21.25          130.00     1203.0
3           M        11.42         20.38           77.58      386.1
4           M        20.29         14.34          135.10     1297.0
..        ...          ...           ...             ...        ...
564         M        21.56         22.39          142.00     1479.0
565         M        20.13         28.25          131.20     1261.0
566         M        16.60         28.08          108.30      858.1
567         M        20.60         29.33          140.10     1265.0
568         B         7.76         24.54           47.92      181.0

     smoothness_mean  compactness_mean  concavity_mean  concave points_mean  \
0            0.11840           0.27760         0.30010              0.14710
1            0.08474           0.07864         0.08690              0.07017
2            0.10960           0.15990         0.19740              0.12790
3            0.14250           0.28390         0.24140              0.10520
4            0.10030           0.13280         0.19800              0.10430
..               ...               ...             ...                  ...
564          0.11100           0.11590         0.24390              0.13890
565          0.09780           0.10340         0.14400              0.09791
566          0.08455           0.10230         0.09251              0.05302
567          0.11780           0.27700         0.35140              0.15200
568          0.05263           0.04362         0.00000              0.00000

     symmetry_mean  ...  radius_worst  texture_worst  perimeter_worst  \
0           0.2419  ...        25.380          17.33           184.60
1           0.1812  ...        24.990          23.41           158.80
2           0.2069  ...        23.570          25.53           152.50
3           0.2597  ...        14.910          26.50            98.87
4           0.1809  ...        22.540          16.67           152.20
..             ...  ...           ...            ...              ...
564         0.1726  ...        25.450          26.40           166.10
565         0.1752  ...        23.690          38.25           155.00
566         0.1590  ...        18.980          34.12           126.70
567         0.2397  ...        25.740          39.42           184.60
568         0.1587  ...         9.456          30.37            59.16

     area_worst  smoothness_worst  compactness_worst  concavity_worst  \
0        2019.0           0.16220            0.66560           0.7119
1        1956.0           0.12380            0.18660           0.2416
2        1709.0           0.14440            0.42450           0.4504
3         567.7           0.20980            0.86630           0.6869
4        1575.0           0.13740            0.20500           0.4000
..          ...               ...                ...              ...
564      2027.0           0.14100            0.21130           0.4107
565      1731.0           0.11660            0.19220           0.3215
566      1124.0           0.11390            0.30940           0.3403
567      1821.0           0.16500            0.86810           0.9387
568       268.6           0.08996            0.06444           0.0000

     concave points_worst  symmetry_worst  fractal_dimension_worst
0                  0.2654          0.4601                  0.11890
1                  0.1860          0.2750                  0.08902
2                  0.2430          0.3613                  0.08758
3                  0.2575          0.6638                  0.17300
4                  0.1625          0.2364                  0.07678
..                    ...             ...                      ...
564                0.2216          0.2060                  0.07115
565                0.1628          0.2572                  0.06637
566                0.1418          0.2218                  0.07820
567                0.2650          0.4087                  0.12400
568                0.0000          0.2871                  0.07039

[569 rows x 31 columns]>

In our dataset1, we have 32 features (columns).
The data involves 570 patients
The outcome we need to predict is M (malignant) / B (benign).

Both malignant and benign are tumors composed of the same type of cells, although malignant can spread to other parts of the body because its cells can move, while benign cells stay in only one location or place. Therefore, in another language, we can say that we will predict whether the cancer will spread or not.

2. HouseRent Dataset

In [4]:
dataset2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/F20DL_datasets/HouseRent/House_Rent_Dataset.csv')
dataset2.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In this Dataset, we have information on almost 4700+ Houses/Apartments/Flats Available for Rent with different parameters like BHK, Rent, Size...

In [15]:
dataset2.info

<bound method DataFrame.info of        Posted On  BHK   Rent  Size            Floor    Area Type  \
0     2022-05-18    2  10000  1100  Ground out of 2   Super Area
1     2022-05-13    2  20000   800       1 out of 3   Super Area
2     2022-05-16    2  17000  1000       1 out of 3   Super Area
3     2022-07-04    2  10000   800       1 out of 2   Super Area
4     2022-05-09    2   7500   850       1 out of 2  Carpet Area
...          ...  ...    ...   ...              ...          ...
4741  2022-05-18    2  15000  1000       3 out of 5  Carpet Area
4742  2022-05-15    3  29000  2000       1 out of 4   Super Area
4743  2022-07-10    3  35000  1750       3 out of 5  Carpet Area
4744  2022-07-06    3  45000  1500     23 out of 34  Carpet Area
4745  2022-05-04    2  15000  1000       4 out of 5  Carpet Area

                 Area Locality       City Furnishing Status  Tenant Preferred  \
0                       Bandel    Kolkata       Unfurnished  Bachelors/Family
1     Phool Bagan, Kankurgachi    Kolkata    Semi-Furnished  Bachelors/Family
2      Salt Lake City Sector 2    Kolkata    Semi-Furnished  Bachelors/Family
3                  Dumdum Park    Kolkata       Unfurnished  Bachelors/Family
4                South Dum Dum    Kolkata       Unfurnished         Bachelors
...                        ...        ...               ...               ...
4741              Bandam Kommu  Hyderabad    Semi-Furnished  Bachelors/Family
4742      Manikonda, Hyderabad  Hyderabad    Semi-Furnished  Bachelors/Family
4743      Himayath Nagar, NH 7  Hyderabad    Semi-Furnished  Bachelors/Family
4744                Gachibowli  Hyderabad    Semi-Furnished            Family
4745           Suchitra Circle  Hyderabad       Unfurnished         Bachelors

      Bathroom Point of Contact
0            2    Contact Owner
1            1    Contact Owner
2            1    Contact Owner
3            1    Contact Owner
4            1    Contact Owner
...        ...              ...
4741         2    Contact Owner
4742         3    Contact Owner
4743         3    Contact Agent
4744         2    Contact Agent
4745         2    Contact Owner

[4746 rows x 12 columns]>

In [16]:
dataset2["Floor"].value_counts()

1 out of 2         379
Ground out of 2    350
2 out of 3         312
2 out of 4         308
1 out of 3         293
                  ...
11 out of 31         1
50 out of 75         1
18 out of 26         1
12 out of 27         1
23 out of 34         1
Name: Floor, Length: 480, dtype: int64

More than 400 unique values have been observed in the Floor data. For a more efficient analysis, it will be useful to divide this data into two columns as the 'Rental Floor' and the 'Total Number of Floors'.

3. MobilePrice Dataset

In [6]:
dataset3_train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/F20DL_datasets/MobilePrice/train.csv')
dataset3_train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [7]:
dataset3_test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/F20DL_datasets/MobilePrice/test.csv')
dataset3_test.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [17]:
dataset3_train.info

<bound method DataFrame.info of       battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]>

In [18]:
dataset3_train.isnull().any()

battery_power    False
blue             False
clock_speed      False
dual_sim         False
fc               False
four_g           False
int_memory       False
m_dep            False
mobile_wt        False
n_cores          False
pc               False
px_height        False
px_width         False
ram              False
sc_h             False
sc_w             False
talk_time        False
three_g          False
touch_screen     False
wifi             False
price_range      False
dtype: bool

We can find that this is a very clean training dataset with no missing pieces. We want to find some relationship between the features of a phone (e.g., memory, internal storage, etc.) and its selling price. So for this dataset we can predict the price range of the phone very well.